openapi: 3.1.0
info:
  title: Loon CADC Transparency Attestations Supply API
  version: '1.0'
  description: 'Public, read-only transparency API for CADC, the Canadian-dollar stablecoin issued by Loon. Exposes live circulating supply (total and per-chain), on-chain mint (issuance) events per chain, and the history of independent monthly reserve attestations. No authentication is required; responses are JSON with permissive CORS (Access-Control-Allow-Origin: *) and are cached at the edge (Cloudflare, max-age 300s). This specification was generated by the API Evangelist enrichment pipeline from the endpoints documented in https://loon.finance/llms.txt and the verified live JSON responses on 2026-07-20; it is not published by Loon.'
  x-enrichment:
    method: generated
    source: https://loon.finance/llms.txt + verified live responses 2026-07-20
  contact:
    name: Loon Support
    email: support@loon.finance
    url: https://loon.finance/support-centre
  license:
    name: Terms of Service
    url: https://loon.finance/terms-of-service
servers:
- url: https://loon.finance
  description: Production
tags:
- name: Supply
  description: Circulating and total CADC supply, overall and per chain.
paths:
  /api/supply:
    get:
      operationId: getSupply
      tags:
      - Supply
      summary: Get CADC supply totals
      description: Returns total and circulating CADC supply across all supported chains, the current CAD/USD price used for nominal valuation, reserve holder balances, and a per-chain breakdown.
      responses:
        '200':
          description: Supply snapshot.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupplyResponse'
components:
  schemas:
    SupplyTotals:
      type: object
      properties:
        totalSupplyCadc:
          type: string
        nominalValueCad:
          type: string
        nominalValueUsd:
          type: string
        issuerHeldCadc:
          type: string
        custodianHeldCadc:
          type: string
        trusteeHeldCadc:
          type: string
        bridgeHeldCadc:
          type: string
        frozenCadc:
          type: string
        circulatingCadc:
          type: string
        circulatingNominalCad:
          type: string
        circulatingNominalUsd:
          type: string
    ChainSupply:
      type: object
      properties:
        chainId:
          type:
          - integer
          - 'null'
        chainName:
          type: string
        cadcAddress:
          type: string
        totalSupplyCadc:
          type: string
        totalMintedCadc:
          type: string
        totalBurnedCadc:
          type: string
        nominalValueCad:
          type: string
        nominalValueUsd:
          type: string
        issuerHeldCadc:
          type: string
        bridgeHeldCadc:
          type: string
        frozenCadc:
          type: string
        circulatingCadc:
          type: string
        circulatingNominalCad:
          type: string
        circulatingNominalUsd:
          type: string
    ReserveHolder:
      type: object
      properties:
        name:
          type: string
        cadcTokenBalance:
          type: string
    SupplyResponse:
      type: object
      properties:
        capturedAt:
          type: string
          format: date-time
        cadUsdPrice:
          type: string
        cadUsdPriceUpdatedAt:
          type: string
          format: date-time
        cadUsdPriceSource:
          type: string
          example: pyth
        totals:
          $ref: '#/components/schemas/SupplyTotals'
        reserves:
          type: object
          properties:
            custodian:
              $ref: '#/components/schemas/ReserveHolder'
            trustee:
              $ref: '#/components/schemas/ReserveHolder'
        chains:
          type: array
          items:
            $ref: '#/components/schemas/ChainSupply'
