openapi: 3.2.0
info:
  title: Loon CADC Transparency Attestations API
  version: '1.0'
  description: Public, read-only transparency API for CADC, the Canadian-dollar stablecoin issued by Loon.
  x-enrichment:
    method: generated
    source: https://loon.finance/llms.txt + verified live responses 2026-07-20
  contact:
    name: Loon Support
    email: support@loon.finance
    url: https://loon.finance/support-centre
  license:
    name: Terms of Service
    url: https://loon.finance/terms-of-service
servers:
- url: https://loon.finance
  description: Production
tags:
- name: Attestations
  description: Independent monthly reserve attestation reports.
paths:
  /api/attestations:
    get:
      operationId: listAttestations
      tags:
      - Attestations
      summary: List monthly reserve attestations
      description: Returns the history of independent monthly reserve attestation reports, each with the attested CAD amount, the auditor, an upload timestamp, and a (time-limited signed) URL to the attestation PDF.
      responses:
        '200':
          description: Attestation report list.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Attestation'
components:
  schemas:
    Attestation:
      type: object
      properties:
        filename:
          type: string
        url:
          type: string
          format: uri
          description: Time-limited signed URL to the attestation PDF.
        amount:
          type: string
        auditor:
          type: string
          example: HDCPA Professional Corporation
        uploadedAt:
          type: string
          format: date-time
