openapi: 3.1.0
info:
  title: Loon CADC Transparency API
  version: '1.0'
  description: >-
    Public, read-only transparency API for CADC, the Canadian-dollar stablecoin
    issued by Loon. Exposes live circulating supply (total and per-chain), on-chain
    mint (issuance) events per chain, and the history of independent monthly reserve
    attestations. No authentication is required; responses are JSON with permissive
    CORS (Access-Control-Allow-Origin: *) and are cached at the edge (Cloudflare,
    max-age 300s). This specification was generated by the API Evangelist enrichment
    pipeline from the endpoints documented in https://loon.finance/llms.txt and the
    verified live JSON responses on 2026-07-20; it is not published by Loon.
  x-enrichment:
    method: generated
    source: https://loon.finance/llms.txt + verified live responses 2026-07-20
  contact:
    name: Loon Support
    email: support@loon.finance
    url: https://loon.finance/support-centre
  license:
    name: Terms of Service
    url: https://loon.finance/terms-of-service
servers:
  - url: https://loon.finance
    description: Production
tags:
  - name: Supply
    description: Circulating and total CADC supply, overall and per chain.
  - name: Issuances
    description: On-chain CADC mint events per chain.
  - name: Attestations
    description: Independent monthly reserve attestation reports.
paths:
  /api/supply:
    get:
      operationId: getSupply
      tags: [Supply]
      summary: Get CADC supply totals
      description: >-
        Returns total and circulating CADC supply across all supported chains,
        the current CAD/USD price used for nominal valuation, reserve holder
        balances, and a per-chain breakdown.
      responses:
        '200':
          description: Supply snapshot.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupplyResponse'
  /api/issuances:
    get:
      operationId: listIssuances
      tags: [Issuances]
      summary: List CADC issuance (mint) events for a chain
      description: >-
        Returns recent on-chain CADC mint events for a single chain, newest first.
        The chainId query parameter is required.
      parameters:
        - name: chainId
          in: query
          required: true
          description: EVM chain id (e.g. 1 Ethereum, 8453 Base, 137 Polygon, 42161 Arbitrum, 59144 Linea).
          schema:
            type: integer
        - name: limit
          in: query
          required: false
          description: Maximum number of issuance events to return.
          schema:
            type: integer
      responses:
        '200':
          description: Issuance events for the chain.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IssuancesResponse'
        '400':
          description: Missing or invalid chainId query parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
  /api/attestations:
    get:
      operationId: listAttestations
      tags: [Attestations]
      summary: List monthly reserve attestations
      description: >-
        Returns the history of independent monthly reserve attestation reports,
        each with the attested CAD amount, the auditor, an upload timestamp, and a
        (time-limited signed) URL to the attestation PDF.
      responses:
        '200':
          description: Attestation report list.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Attestation'
components:
  schemas:
    SupplyResponse:
      type: object
      properties:
        capturedAt:
          type: string
          format: date-time
        cadUsdPrice:
          type: string
        cadUsdPriceUpdatedAt:
          type: string
          format: date-time
        cadUsdPriceSource:
          type: string
          example: pyth
        totals:
          $ref: '#/components/schemas/SupplyTotals'
        reserves:
          type: object
          properties:
            custodian:
              $ref: '#/components/schemas/ReserveHolder'
            trustee:
              $ref: '#/components/schemas/ReserveHolder'
        chains:
          type: array
          items:
            $ref: '#/components/schemas/ChainSupply'
    SupplyTotals:
      type: object
      properties:
        totalSupplyCadc: { type: string }
        nominalValueCad: { type: string }
        nominalValueUsd: { type: string }
        issuerHeldCadc: { type: string }
        custodianHeldCadc: { type: string }
        trusteeHeldCadc: { type: string }
        bridgeHeldCadc: { type: string }
        frozenCadc: { type: string }
        circulatingCadc: { type: string }
        circulatingNominalCad: { type: string }
        circulatingNominalUsd: { type: string }
    ReserveHolder:
      type: object
      properties:
        name: { type: string }
        cadcTokenBalance: { type: string }
    ChainSupply:
      type: object
      properties:
        chainId:
          type: [integer, 'null']
        chainName: { type: string }
        cadcAddress: { type: string }
        totalSupplyCadc: { type: string }
        totalMintedCadc: { type: string }
        totalBurnedCadc: { type: string }
        nominalValueCad: { type: string }
        nominalValueUsd: { type: string }
        issuerHeldCadc: { type: string }
        bridgeHeldCadc: { type: string }
        frozenCadc: { type: string }
        circulatingCadc: { type: string }
        circulatingNominalCad: { type: string }
        circulatingNominalUsd: { type: string }
    IssuancesResponse:
      type: object
      properties:
        chainId: { type: integer }
        count: { type: integer }
        pagination:
          $ref: '#/components/schemas/Pagination'
        issuances:
          type: array
          items:
            $ref: '#/components/schemas/Issuance'
    Pagination:
      type: object
      properties:
        limit: { type: integer }
        offset: { type: integer }
        orderDirection: { type: string, example: desc }
    Issuance:
      type: object
      properties:
        txHash: { type: string }
        blockNumber: { type: string }
        issuedAt: { type: string, format: date-time }
        minter: { type: string }
        to: { type: string }
        amountCadc: { type: string }
    Attestation:
      type: object
      properties:
        filename: { type: string }
        url:
          type: string
          format: uri
          description: Time-limited signed URL to the attestation PDF.
        amount: { type: string }
        auditor: { type: string, example: HDCPA Professional Corporation }
        uploadedAt: { type: string, format: date-time }
    ErrorMessage:
      type: object
      properties:
        message: { type: string }
